<!DOCTYPE html><html lang="en">
<head>
	<title>%{Include title.inc}% Login</title>
	%{Include head.inc}%
</head>
<!--Security/LoginKiosk.htm-->
<body>
	%{Include header.inc}%
	<form id="Login" name="Login" method="post" action="/4DACTION/HANDLECGI/LogOK">
		<input type="hidden" name="sid" value="" />
		<p>A password is required to view this page.<br /><br />
		If you have access priveleges for this kiosk, please enter the password below and click OK.</p>
		<input type="password" size="30"name="password" />
		%{hiddenFields}%
		<br/><br/>
		<input type="submit" value="OK" />
	</form>
	%{Include footer.inc}%
</body></html>
