<!DOCTYPE html><html lang="en">
<head>
	<title>%{Include title.inc}% Login</title>
	%{Include head.inc}%
	<script type="text/javascript">
	//<!-- hide scripting from older browsers
	function cont(tag) {
		document.forms["Login"].action="/4DACTION/HANDLECGI/Log"+tag
		document.forms["Login"].submit()
	}
	// end script hiding-->
	</script>
</head>
<!--Security/LoginGeneral.htm-->
<body>
	%{Include header.inc}%
	<form id="Login" name="Login" method="post" action="/4DACTION/HANDLECGI/LogOK">
		
		<table width="300">
			<tr>
				<td>
						<p>A password is required to view this page.</p>
						<p>If you have %{type}% access priveleges, please enter the password below and click OK.</p>
				</td>
			</tr>
			<tr>
				<td align="center">
					<input type="password" size="30"name="password"/>
					%{hiddenFields}%
					<br/><br/>
					<input type="submit" value="OK"/>
				</td>
			</tr>
		</table>
	</form>
	%{Include footer.inc}%
</body></html>
