<!DOCTYPE html>
<!--Search/NoneFound.htm-->
<html lang="en">

<head>
    <title>%{Include title.inc}%</title>
    %{Include head.inc}%
    
</head>

<body>
    %{Include header.inc}%

    <div class="container">
        <h2>No Search Term(s)</h2>

        <p class="lead">
            At least one search term must be entered before you can do a valid search.
        </p>

        <p>
            <span class="navtxt">&lt;&lt;<a href="javascript:history.go(-1);">Back</a></span>
        </p>
    </div>

    %{Include footer.inc}%
</body>
</html>
