<!DOCTYPE html><html lang="en">
<head>
	<title>%{Include title.inc}%</title>
	%{Include head.inc}%
</head>
<!--FullView/Detail.htm-->
<body>
	%{Include header.inc}%
	<h1><a href="%{Link;Objects_1;info;_ID;records=1}%" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">%{[Objects_1]Disp_Title}%</a></h1>
	<span class="smalltxt"><a href="%{Link;Objects_1;info;_ID;records=1}%" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">return to object description</a></span>

	<br/><br/>

	%{Include activerecords.inc}%
	<b>Detail images</b><br/>


	%{Include pagenavigation.inc}%

	%{Detail Caption}%

	<center>
	%{if(Has Image)}%
			%{if(Image height=="0")}%
					<object
							classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="200" height="20"
							codebase="http://www.apple.com/qtactivex/qtplugin.cab">
							<param name="SRC" value="%{Image Path}%">
							<param name="AUTOPLAY" value="true">
							<param name="CONTROLLER" value="true">
							<embed
									src="%{Image Path}%" width="%{Image width}%" height="%{Image height}%"
									autoplay="true" controller="false"
									pluginspage="http://www.apple.com/quicktime/download/">
							</embed>
					</object>
			%{else}%
					%{if(Image duration=="0")}%
							<img src="%{Image Path;DefaultPreview.gif}%" alt="%{Detail Caption}%"/>
					%{else}%
							<object
								classid="clsid:02BF25D5-8C17-4B23-BC80-D3488ABDDC6B" width="%{Image width}%" height="%{Image height+20}%"
								codebase="http://www.apple.com/qtactivex/qtplugin.cab">
								<param name="SRC" value="%{Image Path}%">
								<param name="AUTOPLAY" value="true">
								<param name="CONTROLLER" value="true">
								<embed
									src="%{Image Path}%" width="%{Image width}%" height="%{Image height}%"
									autoplay="true" controller="false"
									pluginspage="http://www.apple.com/quicktime/download/">
								</embed>
							</object>
					%{end if}%
			%{end if}%
	%{else}%
			This object does not have an image.
	%{end if}%
	</center>

	<br/><br/>
	%{Include footer.inc}%
</body></html>
