<!DOCTYPE html><html lang="en">
<head>
	<title>%{Include title.inc}% %{Selection Name}%</title>
	%{Include head.inc}%
</head>
<!--MultipleRecords/ArtistObjects.htm-->
<body>
	%{Include header.inc}%
	<h1>%{Selection Name}%</h1>
%{if(Message != "")}%
	<p class="err">%{Message}%</p>
%{end if}%

	<ul class="portfolio">
	%{Start Loop}%
		<li class="portfolioItem">
			<div class="portfolioItemMedia"><a href="%{Link;Objects_1;info;0;first=Current Record;query=Current Selection;records=1}%" role="presentation">
				<div class="cropImage" style="background-image:url('%{If(Has Image)}%%{preview}%%{Else}%/graphics/DefaultPreview.gif%{EndIf}%')">
					<img alt="%{If(Has Image)}%%{[Objects_1]Disp_Title}%%{EndIf}%" class="portfolioItemImage" src="%{If(Has Image)}%%{preview}%%{Else}%/graphics/DefaultPreview.gif%{EndIf}%" />
				</div>
			</a></div>
			<div class="portfolioItemMain">
				%{If([Objects_1]Disp_Maker_1!="")}%<div><a href="%{Link;Artist_Maker;info;[Artist_Maker]_Artist_ID;records=1}%">%{[Objects_1]Disp_Maker_1}%</a></div>%{End If}%
				<div class="portfolioItemName"><a href="%{Link;Objects_1;info;0;first=Current Record;query=Current Selection;records=1}%"><i>%{If([Objects_1]Obj_Title != "")}%%{[Objects_1]Obj_Title}%%{else}%%{[Objects_1]Disp_Title}%%{end if}%</i></a></div>
				%{If([Objects_1]Disp_Create_DT!="")}%<div>%{[Objects_1]Disp_Create_DT}%</div>%{End If}%
			</div>
		</li>
	%{End Loop}%
	</ul>
	%{Include pagenavigation.inc}%
	%{Include formaddtoport.inc}%
	%{Include addobjtoportfolio.inc}%

	%{Include footer.inc}%
</body></html>
