<!DOCTYPE html><html lang="en">
<head>
	<title>%{Include title.inc}%</title>
	%{Include head.inc}%
</head>
<!--Details.htm-->
<body>
	%{Include header.inc}%
	<h1><a href="%{Link;Objects_1;info;0;first=Current Record;query=Current Selection;records=1}%" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">%{[Objects_1]Disp_Title}%</a></h1>
	<span class="navtxt">&lt;&nbsp;<a href="%{Link;Objects_1;info;0;first=Current Record;query=Current Selection;records=1}%" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">return to object description</a></span>

	<br/><br/>

	<table cellpadding="0" cellspacing="0" width="600">
		<tr>
			<td><b>Detail images</b></td>
			<td align="right">%{Include activerecords.inc}%</td>
		</tr>
	</table>

	%{Include PageNavigation.inc}%

	<table cellpadding="0" cellspacing="0">
		<!-- The following will repeat for each detail in the page. The kiosk will take care of inserting <tr> tags as appropriate. -->
		%{Start Loop}%
		<td align="center" width="130"><a href="%{Full View}%"><img src="%{thumbnail}%" height="%{thumbnail height}%" width="%{thumbnail width}%" alt="image"/></a>
			<br/>%{Detail Caption}%<br/>
		</td>
		<td width="10"> </td>
		%{End Loop}%

	</table>
	%{Include footer.inc}%
</body></html>
