<!DOCTYPE html>
<!--Objects/zoomobject5.htm-->
<html lang="en">

<head>
    <title>%{Include title.inc}% - Zoomify HTML 5 View</title>
    %{Include head.inc}%
    

    <script type="text/javascript" src="/scripts/ZoomifyImageViewer-min.js">
    </script>
    <style type="text/css">
        #myContainer {
            width: 900px;
            height: 700px;
            margin: auto;
            border: 1px;
            border-style: solid;
            border-color: #696969;
        }
    </style>
    <script type="text/javascript">
        Z.showImage("myContainer", "%{Zoom;blank.gif;}%", "zSkinPath=/Graphics/Assets/Skins/Dark&zLogoVisible=0&zZoomRectangle=1&zBookmarksGet=1&zBookmarksSet=1");
    </script>
</head>

<body>
    %{Include header.inc}%

    <div id="head" class="container-fluid">
        <a name="main"></a>

        <div class="right">
            <a href="javascript:showHelp('Zoomify');" title="help">How do I use Zoomify?</a>
        </div>

        <a href="%{Link;Objects_1;info;0;first=Current Record;query=Current Selection;records=1}%" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">%{[Objects_1]Disp_Title}%</a>
        <br />
        <i>(<a href="%{Link;Objects_1;info;0;first=Current Record;query=Current Selection;records=1}%" onmouseover="self.status = 'Display Object Description';return true" onmouseout="self.status = '';return true" title="Display Object Description">Click
                to return to Description</a>)</i>
        <br>
        <br>
        Use alt(option)-click-drag to do a zoom rectangle.<br>
        The x, y, and z coordinates of the zoomed image are saved in the URL. This allows browser bookmarking to the exact detail of the image you wish to highlight.<br>
        Many more special features may be added. See <a href="http://www.zoomify.com/pro.htm" target="_blank">Zoomify Pro</a>.

        %{Include pagenavigation.inc}%

        <center>
            <div id="myContainer">
            </div>
        </center>

    </div>

    %{Include footer.inc}%
</body>

</html>
