<!DOCTYPE html>
<!--default.htm-->
<html lang="en">

<head>
    <title>%{include title.inc}% - 404 Page Not Found</title>
    %{Include head.inc}%
    %{Include scripts.inc}%
</head>

<body class="clearfix">
    %{Include nav.inc}%

    <div id="head" class="container">
        <a name="main"></a>

        <h2>404 Error</h2>
        <p class="lead">
            An unexpected issue has occurred and your request could not be processed.
        </p>

        <p>
            Either the page you requested doesn't exist or you are requesting a page/operation
            that requires an authorized user to perform.
        </p>
    </div>

    %{Include footer.inc}%
</body>

</html>
