<!DOCTYPE html><html lang="en">
<head>
		<title>Home</title>
		%{Include head.inc}%
</head>
<!--default.htm-->
<body>
		%{Include header.inc}%
		<div id="head" class="container">
				<a name="main"></a>
				<h2>Welcome to Cheekwood's Collection</h2>
				<p class="lead">Please visit the <a href="https://cheekwood.org/collections/">Cheekwood collection home page</a> to see our collections.  Choose a collection to see the items in it and find out information about them.</p>
		</div>
		%{Include footer.inc}%
</body>
</html>
