<!DOCTYPE html><html lang="en">
<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="robots" content="index,nofollow">
		<title>%{include title.inc}% - Robots</title>
		%{Include head.inc}%
</head>
<!--Kiosk/robots.html-->
<body class="clearfix"
		%{Include header.inc}%
		<div id="head" class="container">
				<a name="main"></a>

				<h1>All Objects (by Title)</h1>

				<p class="lead">
						Click any link below to see the work.
				</p>

				<p>
						Click a letter below to jump to the objects with titles that starts with that letter.
				</p>

				<div role="group" aria-label="Jump to Letter">
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#A">A</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#B">B</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#C">C</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#D">D</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#E">E</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#F">F</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#G">G</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#H">H</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#I">I</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#J">J</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#K">K</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#L">L</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#M">M</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#N">N</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#O">O</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#P">P</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#Q">Q</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#R">R</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#S">S</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#T">T</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#U">U</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#V">V</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#W">W</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#X">X</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#Y">Y</a></button>
					<button type="button" class="btn btn-sm btn-outline-primary"><a href="#Z">Z</a></button>
				</div>


				<!--#4DEVAL $i:=0-->
				<!--#4DLOOP ($i<26)) -->
						<!--#4DEVAL $char:=char(character code("A")+$i)-->
						<!--#4DEVAL gsFunc_SpecialFieldQuery(->[objects_1]Disp_Title; $char+"@"))-->

						<br/>
						<a name="<!--#4Dtext $char-->"></a>
						<div class="alert alert-secondary" role="subheader" aria-label="Object titles that start with <!--#4Dtext $char-->">
								<strong class="display-4"><!--#4Dtext $char--></strong> <span class="text-muted">(<!--#4Dtext (records in selection([Objects_1]))--> objects)</span>
								<div class="small float-right">
										<a href="#main">Go to top</a>
								</div>
						</div>

						<ul class="ml-5">
								<!--#4DLOOP [Objects_1] -->
								<li>
										<a href="/objects-1/info?records=10&query=Objects_1%3D%22<!--#4Dtext [Objects_1]_Objects_1_ID-->%22">
												<!--#4Dtext [Objects_1]Disp_Title-->
										</a>
								 <small>  <!--#4Dtext [Objects_1]Disp_Maker_1--> - <!--#4Dtext [Objects_1]Disp_Medium--> -  <!--#4Dtext [Objects_1]Disp_Obj_Type--> </small>
								</li>
								<!--#4DENDLOOP-->
						</ul>
						<!--#4DEVAL $i:=$i+1-->
				<!--#4DENDLOOP-->
				<br />
		</div>
		%{Include footer.inc}%
</body>
</html>
