<!DOCTYPE html><html lang="en" class="page-artist-list">
<head>
	<title>%{Include title.inc}% Browse by Artist</title>
	%{Include head.inc}%
</head>
<!--kiosk/BrowseArtist.htm-->
<body>
	%{Include header.inc}%
	<h1>Browse by Artist</h1>
	<nav aria-label="artist">
		<ol class="browseArtistNavList">
			<li><a id="letter_a" class="letter" href="#A">A</a></li>
			<li><a id="letter_b" class="letter" href="#B">B</a></li>
			<li><a id="letter_c" class="letter" href="#C">C</a></li>
			<li><a id="letter_d" class="letter" href="#D">D</a></li>
			<li><a id="letter_e" class="letter" href="#E">E</a></li>
			<li><a id="letter_f" class="letter" href="#F">F</a></li>
			<li><a id="letter_g" class="letter" href="#G">G</a></li>
			<li><a id="letter_h" class="letter" href="#H">H</a></li>
			<li><a id="letter_i" class="letter" href="#I">I</a></li>
			<li><a id="letter_j" class="letter" href="#J">J</a></li>
			<li><a id="letter_k" class="letter" href="#K">K</a></li>
			<li><a id="letter_l" class="letter" href="#L">L</a></li>
			<li><a id="letter_m" class="letter" href="#M">M</a></li>
			<li><a id="letter_n" class="letter" href="#N">N</a></li>
			<li><a id="letter_o" class="letter" href="#O">O</a></li>
			<li><a id="letter_p" class="letter" href="#P">P</a></li>
			<li><a id="letter_q" class="letter" href="#Q">Q</a></li>
			<li><a id="letter_r" class="letter" href="#R">R</a></li>
			<li><a id="letter_s" class="letter" href="#S">S</a></li>
			<li><a id="letter_t" class="letter" href="#T">T</a></li>
			<li><a id="letter_u" class="letter" href="#U">U</a></li>
			<li><a id="letter_v" class="letter" href="#V">V</a></li>
			<li><a id="letter_w" class="letter" href="#W">W</a></li>
			<li><a id="letter_x" class="letter" href="#X">X</a></li>
			<li><a id="letter_z" class="letter" href="#Z">Z</a></li>
		</ol>
	</nav>
	<div class="browseArtistLetter">
		<a name="A"><h5>A</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="a@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="B"><h5>B</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="b@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="C"><h5>C</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="c@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="D"><h5>D</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="d@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="E"><h5>E</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="e@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="F"><h5>F</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="f@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="G"><h5>G</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="h@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="H"><h5>H</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="h@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="I"><h5>I</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="i@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="J"><h5>J</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="j@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="K"><h5>K</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="k@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="L"><h5>L</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="l@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="M"><h5>M</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="m@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="N"><h5>N</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="n@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="O"><h5>O</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="o@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="P"><h5>P</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="p@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="Q"><h5>Q</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="q@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="R"><h5>R</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="r@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="S"><h5>S</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="s@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="T"><h5>T</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="t@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="U"><h5>U</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="u@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="V"><h5>V</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="v@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="W"><h5>W</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="w@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="X"><h5>X</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="x@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="Y"><h5>Y</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="y@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	<div class="browseArtistLetter">
		<a name="Z"><h5>Z</h5></a>
			<ul>
			%{start loop([Artist_Maker]Sort_Name=="z@")}%
				<li><a href="%{Link;Objects_1;artist-objects;0;records=60;query=Artist_Maker=_ID}%">%{[Artist_Maker]Sort_Name}%</a> %{[Artist_Maker]Disp_Maker_Life}%</li>
			%{end loop}%
			</ul>
	</div>
	%{Include footer.inc}%
</body></html>
