<!-- Kiosk Pages/password.htm -->
<html>
<head>
	<title>EmbARK Web Kiosk Login</title>
	%{Include head.inc}%
  <script type="text/javascript">
	<!--
		function checkPass() {
			if(document.changePass.Password.value==document.changePass.newPassword2.value)
			document.changePass.submit();

			else {
				alert("Your new password was not entered the same way twice. Please try again.");
				document.changePass.Password.value="";
				document.changePass.newPassword2.value="";
				document.changePass.Password.focus();
			}
		}
	//-->
	</script>
</head>

<body onLoad="self.document.changePass.oldPassword.focus();">

%{Include header.inc}%
<div id="content">
<h1>Change your Password</h1>

<br>

Use the form below to change your password.

<br><br>

<form name="changePass" action="/4DACTION/HANDLECGI/Pass" method="POST">
<input type="hidden" value="" name="sid"/>

	<!--{Error message}-->

	<table>
		<tr>
			<td class="txt">Old Password:</td>
			<td class="txt"><input type="password" size="20" name="oldPassword" class="txt"></td>
		</tr>

		<tr>
			<td class="txt">New Password:</td>
			<td class="txt"><input type="password" size="20"name="Password" class="txt"></td>
		</tr>

		<tr>
			<td class="txt">Repeat New Password:</td>
			<td class="txt"><input type="password" size="20"name="newPassword2" class="txt"></td>
		</tr>

		<tr>
			<td class="txt" colspan="2"><input type="button" value="Change Password" onClick="checkPass()" class="txt"></td>
		</tr>

	</table>

</form>
</div>
%{Include footer.inc}%

</body>
</html>
