<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--Kiosk/Terms.htm-->
<html lang="en">

<head>
    <title>%{include title.inc}% - Terms & Conditions</title>
    %{Include head.inc}%
    
</head>

<body>
    %{Include header.inc}%

    <div id="head" class="container">
        <a name="main"></a>

        <h1>Terms & Conditions</h1>

        <p class="lead">
            Enter your terms and conditions text here.
        </p>

    
    </div>
    %{Include footer.inc}%

</body>

</html>
